<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    

   <h1>Articles page</h1>
   <form action="/" method="post">
    <input name="username" type="text">
    <br>
    <br>
    <button>send to database</button>
    </form>


    <h1>Your name is:</h1>
   <h1> <%= arr.at(-1).username %></h1>
</body>
</html>